<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Beer</title>
</head>
<body>
<div>
    <a href="/beer">All Beers</a> |
    <a href="/costumer">All Costumers</a> |
    <a href="/orders">All Orders</a> |
    <a href="/beer/add">Add a Beer</a> |
    <!-- <a href="/orders">Add an Order</a> |
     <a href="/orders">Add a Costumer</a> |-->
</div>

<h1>Add Beer</h1>
<form method="post">
  <label for="name">Name</label><input type = "text" name = "name" id = "name"/>
  <br>
    <label for="abv">Abv</label><input type = "text" name = "abv" id = "abv"/>
    <br>
    <label for="plato">plato</label><input type = "text" name = "plato" id = "plato"/>
    <br>
    <label for="style">style</label><input type = "text" name = "style" id = "style"/>
    <br>
  <label for="quantity">Quantity</label>
  <select id="quantity" name="quantity">
      <option th:each="beerQuantity : ${quantity}"  th:text="${beerQuantity}" th:value="${beerQuantity}"/>
  </select>
    <br>
    <label for="stock">Stock</label><input type = "text" name = "stock" id = "stock"/>
    <br>
    <label for="containers">Container</label>
    <select id="containers" name="containers">
        <option th:each="beerContainer : ${container}" th:value="${beerContainer}" th:text="${beerContainer}">
        </option>
    </select>
  <br>
    <label for="brewery">Brewery</label><input type = "text" name = "brewery" id = "brewery"/>
    <br>
    <label for="price">Price</label><input type = "text" name = "price" id = "price"/>
    <br>
    <button type="submit">Add Beer</button>
</form>

</body>
</html>