<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Beer</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"/>
    </script>
</head>
<body>
<div th:replace="~{fragments::header}">
</div>

<h1>Add Beer</h1>
<!--<form method="post">
  <label for="name">Name</label><input type = "text" name = "name" id = "name"/>
  <br>
    <label for="abv">Abv</label><input type = "text" name = "abv" id = "abv"/>
    <br>
    <label for="plato">plato</label><input type = "text" name = "plato" id = "plato"/>
    <br>
    <label for="style">style</label><input type = "text" name = "style" id = "style"/>
    <br>
  <label for="quantity">Quantity</label>
  <select id="quantity" name="quantity">
      <option th:each="beerQuantity : ${quantity}"  th:text="${beerQuantity}" th:value="${beerQuantity}"/>
  </select>
    <br>
    <label for="stock">Stock</label><input type = "text" name = "stock" id = "stock"/>
    <br>
    <label for="containers">Container</label>
    <select id="containers" name="containers">
        <option th:each="beerContainer : ${container}" th:value="${beerContainer}" th:text="${beerContainer}">
        </option>
    </select>
  <br>
    <label for="brewery">Brewery</label><input type = "text" name = "brewery" id = "brewery"/>
    <br>
    <label for="price">Price</label><input type = "text" name = "price" id = "price"/>
    <br>
    <button type="submit">Add Beer</button>
</form>-->

<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type = "text" name = "name" id = "name" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="abv" class="form-label">Abv</label>
        <input type = "text" name = "abv" id = "abv" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="plato" class="form-label">plato</label>
        <input type = "text" name = "plato" id = "plato" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="style" class="form-label">style</label>
        <input type = "text" name = "style" id = "style" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <select id="quantity" name="quantity" class="form-select">
            <option th:each="beerQuantity : ${quantity}"  th:text="${beerQuantity}" th:value="${beerQuantity}"/>
        </select>
    </div>
    <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input type = "text" name = "stock" id = "stock" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="containers" class="form-label">Container</label>
        <select id="containers" name="containers" class="form-select">
            <option th:each="beerContainer : ${container}" th:value="${beerContainer}" th:text="${beerContainer}">
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="brewery" class="form-label">Brewery</label>
        <input type = "text" name = "brewery" id = "brewery" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type = "text" name = "price" id = "price" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div th:replace="~{fragments::footer}">
</div>
</body>
</html>