<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"/>
  </script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
  <link rel="shortcut icon" href="#"/>
</head>
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
      <!-- Logo amb mida ajustada -->
      <a class="navbar-brand" href="/">
        <img th:src="@{/images/logo.png}" alt="Beer Project" class="logo" style="height: 50px;">
      </a>
      <!-- Botó de menú per a dispositius mòbils -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menú centrat -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/beers}">Beer</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/beers}">Beers</a></li>
              <li><a class="dropdown-item" th:href="@{/beers/add}">Add Beer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/customer}">Customers</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/customer}">Customer</a></li>
              <li><a class="dropdown-item" th:href="@{/customer/add}">Add Customer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/orders}">Orders</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/orders}">Orders</a></li>
              <li><a class="dropdown-item" th:href="@{/orders/add}">Add Orders</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" role="button"  aria-expanded="false" th:href="@{/sessions}">Session</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div th:fragment="footer" class="navbar navbar-fixed-bottom">
  <footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p> &COPY; KdG 2024</p>
  </footer>
</div>

</body>
</html>