div .content {
    margin: 20px;
    padding: 20px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

img .logo{
    height: 50px;
}