.table {
    border: 2px solid #000; /* Contorn de la taula en negre */
    border-collapse: collapse; /* Evita els espais entre les cel·les */
}

.table th {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

.table tbody tr:nth-of-type(odd) {
    color: #fff; /* Text white */

}

.table tbody tr:nth-of-type(odd) a{
    color: #fff; /* Text white */
}

.table tbody tr:nth-of-type(odd) td {
    color: #fff;
    background-color: black;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f8f9fa; /* Color clar per a les files parells */
}

.table tbody tr:nth-of-type(even) a {
    color: black; /* Color clar per a les files parells */
}